.link-card {
  width: 400px;
  height: 240px;
}

.link-image {
  width: 380px;
  height: 220px;
  position: absolute;
  margin-left: -190px;
  margin-top: -110px;
  left: 50%;
  top: 50%;
}

mat-card-actions {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.action-button {
  height: 250px;
  width: 100%;
}

.vertical {
  border-left: 2px solid white;
  height: 200px;
  position:absolute;
  left: 50%;
  opacity: 0.1;
}

.button-icon {
  transform: scale(2);
  opacity: 0.5;
}