.mat-mdc-tab-group {
  height: 100%;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

.tab-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.fullscreenButton {
  max-width: 20px;
  padding: 0 12px;
  color: unset;
  opacity: unset;
}