<mat-tab-group animationDuration="0ms">
  <mat-tab *ngFor="let category of getCategories()" [label]="category">
    <div class="tab-content">
      <link-card
        *ngFor="let item of getLinks(category)"
        [link]="item"
        (onFullscreen)="goFullScreen($event)"
        (onOpen)="go($event)"
      ></link-card>
    </div>
  </mat-tab>
  <mat-tab labelClass="fullscreenButton">
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="goFullScreen('www.google.com')">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
 