<mat-tab-group [(selectedIndex)]="selectedTab" (touchstart)="swipe($event, 'start')" animationDuration="100ms"
  (touchend)="swipe($event, 'end')">
  <mat-tab labelClass="tabBarButton">
    <ng-template mat-tab-label>
      <button mat-icon-button>
        <mat-icon>bookmark</mat-icon>
      </button>
    </ng-template>
    <div class="tab-content">
      <mat-form-field class="form-field">
        <mat-label i18n>Navegar</mat-label>
        <input matInput type="text" [(ngModel)]="toUrl" />
        <button *ngIf="toUrl" matSuffix mat-icon-button aria-label="Clear" (click)="toUrl = ''">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="toUrl" matSuffix mat-icon-button aria-label="Go" (click)="goToFullScreen(toUrl)">
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="toUrl" matSuffix mat-icon-button aria-label="Go" (click)="goTo(toUrl)">
          <mat-icon>open_in_browser</mat-icon>
        </button>
      </mat-form-field>
      <iframe src="https://widget-3be4d265966541278ff418c60cd10fcb.elfsig.ht" class="widget-iframe" scrolling="no"></iframe>
      <!--<iframe src="http://www.google.com/maps/?width=360&height=240&output=embed&saddr=My+Location&z=18&t=m&hl=pt" class="widget-iframe" scrolling="no"></iframe>-->
      <link-card *ngFor="let item of getFavorites()" [link]="item" (onFullscreen)="goToFullScreen($event)"
        (onOpen)="goTo($event)"></link-card>
    </div>
  </mat-tab>
  <mat-tab *ngFor="let itemEntry of links | groupBy: 'category'; let i = index" [label]="itemEntry.key">
    <div class="tab-content">
      <link-card *ngFor="let item of itemEntry.value" [link]="item" (onFullscreen)="goToFullScreen($event)"
        (onOpen)="goTo($event)"></link-card>
    </div>
  </mat-tab>
  <mat-tab labelClass="tabBarButton">
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="goFullScreen()">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>