.mat-mdc-tab-group {
  height: 100%;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

.tab-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tabBarButton {
  max-width: 10px;
  padding: 6px;
  color: unset;
  opacity: unset;
}

.example-form-field {
  width: 90%;
  margin-bottom: -1.25em;
}
